.subscribe {
  background-color: #c80000;
  color:white;
  border:none;
  height: 37px;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
  margin-right:15px;
  margin-top:20px ;
  margin-bottom: 15px;
  margin-left:15px;
  
}
.join{
  background-color:white ;
  border-color:#00fbff;
  border-style:solid;
  border-width: 1px;
  color:#00fbff;
  height: 37px;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
  font-weight:bold;
  margin-right:15px;
  
}
.tweet{
  background-color:#00b3ff ;
  border-style:solid;
  color:#ffffff;
  border:none;
  height: 32px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size:15px;
  cursor: pointer;
  margin-right:15px;
  
}
.uber{
  background-color: black;
  color:white;
  height:35px;
  width:110px;

}
.cart{
  background-color:#ffea00;
  color:black;
  border:none;
  height:36px;
  width:125px;
  border-radius: 25px;
  font-weight:bold;
  font-size: 16px;
  margin-left:15px;
  cursor:pointer;
  
}
